/* Header */

h1 {
	color: rgba(255,255,255, 0.9);
	font-size: 34pt;
	font-weight: bold;
	text-shadow: 0.1em 0.0em 0.1em rgba(0,0,0, 1.0);
}

/* Body */

body {
    font-size: 10pt;
    font-family: Arial;
    background-color: #e0e0e0;
		background-size: cover;
    background-image: url('../images/background.jpg');
}

/* Blocks */

.block-content,
.block {
	background-color: rgba(255,255,255, 0.85);
	box-shadow: 0 1px 2px rgba(0,0,0, 0.15),
				0 2px 3px rgba(0,0,0, 0.3);
	border-radius: 2px;
	transition: box-shadow 0.25s;
	font-size: 8pt;
}

.block-content:hover,
.block:hover {
	box-shadow: 0 1px 4px rgba(0,0,0, 0.15),
				0 4px 6px rgba(0,0,0, 0.28);
	z-index: 1;
}

.block-content ul li:first-child {
	font-weight: bold;
	margin-bottom: 2px;
	text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #757575;
}

/* Form */

input {
    background: url(../images/search.png) no-repeat;
    padding: 0 26px 0 5px;
    color: #757575;
    font-size: 8pt;
    height: 15px;
}

/* Others */

#searchForm {
    white-space: nowrap;
}

#searchIcon {
    height: 16px;
    width: 16px;
    border: 0;
	margin-left: -26px;
	margin-bottom: -4px;
}

.hover-block {
    display: none;
    position: fixed;
	box-shadow: 0 1px 4px rgba(0,0,0, 0.15),
				0 4px 6px rgba(0,0,0, 0.28);
	z-index: 1;
}

.text-left {
    text-align: left;
}
